<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezflow.ai</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            font-size: 2em; 
        }
        h1#data-visualization {
            font-size: 1.5em; 
        }
    </style>
</head>
<body style="background-color: #f0f8ff;"> 
    <div class="container">
        <h1>Ezflow.ai</h1>
        <p>Machine Learning Made Easy</p>
        
        <h1 id="data-visualization">Data Visualization</h1>
    </div>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ezflow.ai</title>
    <!-- Bootstrap CSS library -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        h1 {
            font-size: 2em; 
        }
        h1#data-visualization {
            font-size: 1.5em; 
        }
        .histogram-container {
            margin-top: 20px;
        }
    </style>
</head>
<body style="background-color: #f0f8ff;"> <!-- Light blue background -->
    <div class="container">
        <h1>Ezflow.ai</h1>
        <p>Machine Learning Made Easy</p>
        
        <h1 id="data-visualization">Data Visualization</h1>

        <form action="{{ url_for('get_histogram') }}" method="post">
            <label for="column">Choose a continuous column:</label>
            <select id="column" name="column" class="form-control">
                {% for column, label in custom_col_labels.items() %}
                    {% if label == "numerical" %}
                        <option value="{{ column }}">{{ column }}</option>
                    {% endif %}
                {% endfor %}
            </select>
            <button type="submit" class="btn btn-primary mt-3">Get Histogram</button>
        </form>

        {% if histogram_image %}
            <div class="histogram-container">
                <h2>Generated Histogram</h2>
                <img src="data:image/png;base64,{{ histogram_image }}" alt="Histogram" class="img-fluid">
            </div>
        {% endif %}
    </div>
</body>
</html>
